@model MvcApp.Models.Employee

@{
    ViewBag.Title = "Details";
    ViewBag.AppTitle = "eCommerce";
}

<h2>Details</h2>

<div class="card">
    <div class="card-header bg-dark text-white"><h3>Selected Employee Details</h3></div>

    <div class="card-body">
        <h3 style="font-size:40px">@Model.EmpName</h3>
        <h3>@Model.CTCPerHour per hour</h3>

        <table class="table table-sm table-borderless">
            <tr>
                <td style="width:160px">Email:</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Date of Joining:</td>
                @if (Model.DateOfJoining.HasValue)
                {
                    <td>@Model.DateOfJoining.Value.ToString("d/M/yyyy")</td>
                }
                else
                {
                    <td>Unknown</td>
                }
            </tr>
        </table>
    </div>

    <div class="card-footer">
        <a href="@Url.Action("Index", "Employees")">Back to Employees</a>
    </div>
</div>
